.login {
    width: 350px;
    padding: 30px 20px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.login h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    color: #111827;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.login-form input {
    padding: 10px;
    font-size: 15px;
    color: #6b7280;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    outline: none;
}

.login-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    background-color: #2979ff;
}

.sbtn {
    font-size: 13px;
}

@media (max-width: 600px) {
    .login {
        width: 100%;
        height: 100vh;
        box-shadow: none;
        margin: auto;
    }
}
